/* .App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.Li:hover{
  background-color: rgba(28, 79, 28, 0.909);
  cursor: pointer;
  color: white;
  transition: all ease 0.5s;
}


@media only screen and (max-width: 768px) {
  .category{
    display: none!important;
  }
}